{% extends 'base.html.twig' %}

{% block title %}Sondage{% endblock %}

{% block content %}
<div class="container py-3">
    <div class="py-3">
        <a href="{{ path('app_survey_index') }}" class="btn btn-success mt-3 btn-outline-primary">Retour au tableau</a>
    
       </div>
        <div class="jumbotron text-center py-3">
            <h1> {{ survey.titre}}</h1>
        </div>
        <div class="py-3">
            <table class="table table-striped bordored-radius=2px text-center table-dark">
                <thead class="table-primary text-uppercase text-bold">
                    <tr><th>Titre</th>
                    <th>Categorie de sondage</th>
                <th>Date de création</th>
                <th>Date de modification</th>
               </tr>

            </thead>
            <tbody>
               
                <tr>
                    
                    <td>{{ survey.titre }}</td>

                    <td>{{ survey.categorie }}</td>
       
                
                    <td>{{ survey.datecreation ? survey.datecreation|date('Y-m-d H:i:s') : '' }}</td>
                
                
                    <td>{{ survey.datemiseajour ? survey.datemiseajour|date('Y-m-d H:i:s') : '' }}</td>
                
                
                </tr>
    
            </tbody>
        </table>
        </div>
    
</div>
   {% endblock %}
