{% extends 'base.html.twig' %}

{% block title %}Gestion Survey {% endblock %}

{% block content %}

<div class="container py-3">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success py-3">
        {{ message }}
    </div>
    {% endfor %}
    
    <div class="py-3" id="3">
            <a href="{{ path('app_survey_new') }}"class="btn btn-success mt-3 btn-outline-primary">Nouveau </a>
    
    </div>
    
    <div class="jumbotron text-center py-3">
        <h1>Gestion des sondages</h1>
    </div>
    </br>
        
    <div class="py-3">
        <table class="table table-striped bordored-radius=2px text-center table-dark">
            <thead class="table-primary text-uppercase text-bold">
            <tr>
                <th>Titre</th>
                <th>Catégorie associee</th>
                <th>Date de creation</th>
                <th>Date de mise à jour</th>
                <th>Voir</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for survey in surveys %}
            <tr>
                <td>{{ survey.titre }}</td>
                <td>{{ survey.categorie }}</td>
                <td>{{ survey.datecreation ? survey.datecreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ survey.datecreation ? survey.datemiseajour|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_survey_show', {'slug': survey.slug|default('default_slug') }) }}" class="btn btn-dark mt-3">Voir</a>
                </td>
                <td>
                    <a href="{{ path('app_survey_edit', {'slug': survey.slug|default('default_slug')}) }}" class="btn btn-warning mt-3 btn-outline-warning">Modifier</a>
                </td>
                <td>
                    {{ include('survey/_delete_form.html.twig') }}


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
