{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block content %}

<div class='login_register_wrap section'>
    <div class='container'>
        <div class="jumbotron text-center py-3 text-dark">
            <h1>Récupération de votre email pour réinitialisation de votre mot de passe</h1>
        </div>    
        
        <div class='row justify-content-center'>
            <div class='col-xl-6 col-md-10'>
                <div class='login_wrap'>
                    <div class='padding_eight_all bg-white'>
                        <div class='heading_s1'>
                        </div>
                        <div class='content'>
                            <div class='message-flash'>
                                {% for flash_error in app.flashes('reset_password_error') %}
                                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                                {% endfor %}
                            </div>
                            <div class="py-5 bg-dark  mg-3 border border-dark text-center text-light">
                                
                                {{ form_start(requestForm) }}
                                {{ form_row(requestForm.email) }}
                           
                            </div>
                            <div class="py-5 bg-dark  mg-3 border border-dark text-center text-light">
                                <small>
                                        Entrer votre adresse email et nous vous enverrons
                                        un lien pour réinitialiser votre mot de passe.                                        
                                    </small>
                                </div>
                                <div class="py-5 bg-dark  mg-3 border border-dark text-center text-light">
                                    <button class="btn btn-primary">Envoyer</button>
                                         
                                </div>
                               {{ form_end(requestForm) }}                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
<p class="text-center"><p class="jumbotron text-dark text-center text-bold text-uppercase">Si vous ne recevez aucun email, regarder dans vos spams ou <a href="{{ path('app_forgot_password_request') }}">recommencer encore</p></a>.</p>
{% endblock %}
