{% extends 'base.html.twig' %}

{% block title %}Gestion des categories{% endblock %}

{% block content %}
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
<div class="container py-5">
    <div class="py-3 mg-5"  id="3">
        <a href="{{ path('app_categories_new') }}" class="btn btn-success mt-3">Nouvelle catégorie</a>
    
    </div>
    
    <div class="jumbotron text-center py-3">
        <h1>Gestion des catégories</h1>
    </div>
    
    </br>
    
       <div class="py-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Voir</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.titre }}</td>
                     <td>
                        <a href="{{ path('app_categories_show', {'slug': category.slug|default('default_slug') }) }}" class="btn btn-dark mt-3">Voir</a>
                    </td>
                    <td>
                        <a href="{{ path('app_categories_edit', {'slug': category.slug|default('default_slug')}) }}" class="btn btn-warning mt-3">Modifier</a>
                    </td>
                    <td>
                        {{ include('categories/_delete_form.html.twig') }}
    
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">Pas d'enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    
    </div> 
    
</div>

    
    
{% endblock %}
