{% extends 'base.html.twig' %}
{% block title %}Modification de vos informations Personnelles {% endblock %}


{% block content %}
<div class="container py-3">
    <div class="py-3">
        <a href="{{ path('compte') }}" class="btn btn-outline-primary mt-3">Retour à la page mon compte</a>
    
    </div>
        <div class="jumbotron text-center py-3">
            <h1> Modification de mes informations Personnelles</h1>
        </div>
<div class="row no-gutters ">
    <div class="col-12 col-lg-6 p-1">
        <div class="card md-3 bg-dark border border-radius rounded">
            <div class="row no-gutters align-items-center p-2">
                <div class="col col-md-4">
                    <p class="text-white .TEXT-UPPERCASE">Photo:</p>
                </div>
                <div class="col">
                    <div class="card-body">
                        <h3 class="class-title text-center jumbotron text-primary font-weight bold">
                            Informations</h3>
                        <p class="card-text">
                            {{ form_start(formModifierCompte)}}

                            <div class="text text-bold"> <p class="text-white .TEXT-UPPERCASE">prenom : {{ form_widget(formModifierCompte.username)}}</p></div>
                            <div> <p class="text-white .TEXT-UPPERCASE">Email :{{ form_widget(formModifierCompte.email)}} </p></div>
                        </p>
                        <div>
                            
    
                        
                            
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit"value="Modifier"class="btn btn-outline-warning mg-3">
    {{ form_end(formModifierCompte)}}

        </div>
        
    </div>
    
    </div>
    

{% endblock %}