{% extends 'base.html.twig' %}

{% block title %}Gestions{% endblock %}

{% block content %}
<div class="container py-3">

    {% for message in app.flashes('success') %}
<div class="alert alert-success py-3">
    {{ message }}
</div>
{% endfor %}

<div class="py-3" id="3">
    <a href="{{ path('app_interroger_new') }}" class="btn btn-success mt-3">Nouveau</a>

</div>

<div class="jumbotron text-center py-3">
    <h1>Gestion des questions</h1>
</div>
</br>
    
<div class="py-3">
    <table class="table table-striped py-3 ">
        <thead>
            <tr>
                <th>Question</th>
                <th>Categorie liée à la question</th>
                <th>Réponse liée à la question</th>
                <th>Voir</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>           
        </thead>
        <tbody>
            {{ dump(interrogers)}}
        {% for interroger in interrogers %}
            <tr>
                <td>{{ interroger.intitule }}</td>
                {% for cat in interroger.categorie %}

                <td class="d-flex flex-column  mb-2">{{ cat|raw }}</td>   
   

                {% endfor %}
                {# {{ interroger.reponses }} #}
                {% for toto in interroger.reponses %}
               {{ toto|raw}}
                {% endfor %}

                

                
                
                
                

                {# <td>{{ interroger.categorie |default }}</td> #}


                <td>
                    <a href="{{ path('app_interroger_show', {'slug': interroger.slug}) }}" class="btn btn-dark mt-3">Voir</a>
                </td>
                <td>
                    <a href="{{ path('app_interroger_edit', {'slug': interroger.slug}) }}" class="btn btn-warning mt-3">Modifier</a>
                </td>
                <td>
                    {{ include('interroger/_delete_form.html.twig') }}


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>


</div>
    
{% endblock %}
