{% extends 'base.html.twig' %}

{% block title %}Gestions{% endblock %}

{% block content %}
<div class="container py-3">

    {% for message in app.flashes('success') %}
<div class="alert alert-success py-3">
    {{ message }}
</div>
{% endfor %}

<div class="py-3" id="3">
    <a href="{{ path('app_interroger_new') }}" class="btn btn-outline-primary mt-3">Nouveau</a>

</div>

<div class="jumbotron text-center py-3">
    <h1>Gestion des questions</h1>
</div>
</br>
    
<div class="py-3">
    <button type="button" class="btn btn-dark position-relative" data-mdb-ripple-unbound="true">
        {{knp_pagination_render(interrogers)}}
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="position-absolute top-100 start-50 translate-middle bi bi-caret-down-fill"
          fill="#212529"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
        </svg>
      </button>
      <table class="table table-striped bordored-radius=2px text-center table-dark">
        <thead class="table-primary text-uppercase text-bold">
            <tr>
                <th>Question</th>
                <th>Categorie liée à la question</th>
                <th>Réponse liée à la question</th>
                <th>Voir</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>           
        </thead>
        <tbody>
            {{ dump(interrogers)}}
        {% for interroger in interrogers %}
            <tr>
                <td>{{ dump(interroger.intitule) }}</td>
                {% for cat in interroger.categorie %}

                <td class="d-flex flex-column  mb-2">{{ cat|raw }}</td>   
   

                {% endfor %}
                {# {{ interroger.reponses }} #}
                {% for toto in interroger.reponses %}
                <td>{{ dump(toto.titre) }}</td>
                {% endfor %}

                

                
                
                
                

                {# <td>{{ interroger.categorie |default }}</td> #}


                <td>
                    <a href="{{ path('app_interroger_show', {'slug': interroger.slug}) }}" class="btn btn-dark mt-3">Voir</a>
                </td>
                <td>
                    <a href="{{ path('app_interroger_edit', {'slug': interroger.slug}) }}" class="btn btn-warning mt-3 btn-outline-warning">Modifier</a>
                </td>
                <td>
                    {{ include('interroger/_delete_form.html.twig') }}


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-dark position-relative" data-mdb-ripple-unbound="true">
        {{knp_pagination_render(interrogers)}}
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="position-absolute top-100 start-50 translate-middle bi bi-caret-down-fill"
          fill="#212529"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
        </svg>
      </button>
</div>


</div>
    
{% endblock %}
